.chips-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    min-height: 100vh;
}

.chips-list {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
}

.chip {
    padding: 4px 6px;
    border: 0.5px solid black;
    border-radius: 4px;
    display: flex;
    gap: 16px;
}

.chip__close {
    cursor: pointer;
}

.chip-input {
    width: 1000px;
    height: 40px;
}